html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
}
#header {
    display: block;
    width: 100vw;
    box-sizing: border-box;
    background-color: #303030;
    margin: 0;
}
#header h1 {
    padding: 10px;
    margin: 0;
}
#page {
    display: block;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    background-color: #1e1e1e;
}
#commands {
    border-collapse: collapse;
    border: 1px solid white;
}
#commands tr th, #commands tr td {
    border: 1px solid white;
    padding: 4px;
}
#ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}